@import "../../variables.modules";

.client__card {
    width: 18rem;
    height: 18rem;
    margin: 10px;
    cursor: pointer;
}

.client__card__list{
    width: 80%;
    margin-top: 10px;
    max-height: 34rem;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

.client__card img {
    width: 75%;
    height: 75%;
    transform: translate(17%, 17%);
    border: solid 1px $borderColor;
    background-color: $contentColor;
}

.client__card__list img {
    width: 50%;
    height: 100%;
    border: solid 1px $borderColor;
    background-color: $contentColor;
}

.client__card__div{
    width: 90%;
    height: 90%;
    max-height: 16rem;
    transform: translate(6%, 6%);
    border: solid 1px $borderColor;
    background-color: $contentColor;
}

.client__card__div__ul {
    text-align: center;
}

.client__card__div__ul div {
    right: 10%;
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 5px 5px;
}

.client__card__div__ul div:hover{
    background-color: $themeColor;
    color: white;
}