@import "../../../variables.modules";

.sidbar__element__Link{
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: $fontColor;
    padding: 7% 0%;    
    width: 100%;
    text-decoration: none;
}

.sidbar__element__Link:hover{
    color: $themeColor;
    text-decoration: none;
    background-color: $backgroundThemeColor;
}

.sidbar__element__Link__a_before{
    padding-right: 10%;
    padding-left: 10%;
}

.sidbar__element__Link__a_after{
    padding-left: 10%;
    padding-right: 10%;
}