@import "../../SideBar/sidebar.module";

.sidbar__element{
    color: $fontColor;
    // padding: 10px 0px;
    // position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav__links{
    border: none;
}
.liItem{
    color: $fontColor;
}