@import "../../SideBar/sidebar.module";

.sidbar__element{
    color: $fontColor;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav__links{
    border: none;
}
.liItem{
    color: $fontColor;
}