@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "./variables.modules.scss";
$fontFamily: 'Lato', sans-serif;

body {
    font-family: $fontFamily;
}

body, .container{
    height:100%;
}

.sideBar__div{
    border: solid 1px $borderColor;
    border-bottom: none;
    overflow: hidden;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.Content__div{
    border: solid 1px $borderColor;
    border-left: none;
    height: 100%;
    border-bottom: none;
    background-color: $contentColor;
    overflow: hidden;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.Logo__div{
    border: solid 1px $borderColor;
    border-bottom: none;
    border-top: none;
}

.container{
    display:table;
    width: 100%;
    box-sizing: border-box;
}

.row__class{
    height: 100%;
    display: table-row;
}